<nav class="navbar container {{page.active}}">
	<ul class="navbar-list">
	  <li class="navbar-item">
	  	{% if page.active == "homepage" %}
	    <a class="navbar-link active" href="{{ site.baseurl }}/">Artifac<span class="tightkern">t.</span>Digital</a>
	    {% else %}
	    <a class="navbar-link" href="{{ site.baseurl }}/">Artifac<span class="tightkern">t.</span>Digital</a>
	    {% endif %}
	  </li>
	  <!-- LINK TO ALEXLEITCH SIDE OF THE SITE, HIDDEN FOR NOW. 
	  	NOTE: THIS PAGE IS A SUB-PAGE OF THE WHOLE SITE (ie "HTTP://ROOT/ALEX-LEITCH")
	  	WHICH MEANS THAT WHEN YOU SET UP YOUR URL REDIRECTS 
	  	YOU'LL NEED TO MAKE SURE THE CSS AND IMAGE PATHS STILL POINT CORRECTLY

	  <li class="navbar-item">
	  	{% if page.active == "alexleitch" %}
	    <a class="navbar-link active" href="http://alexleitch.com">Alex Leitch</a>
	    {% else %}
	    <a class="navbar-link" href="http://alexleitch.com">Alex Leitch</a>
	    {% endif %}
	  </li> -->
	</ul>
</nav>
