<nav class="navbar container {{page.active}}">
	<ul class="navbar-list">
	  <li class="navbar-item">
	  	{% if page.active == "homepage" %}
	    <a class="navbar-link active" href="{{ site.baseurl }}/">Artifac<span class="tightkern">t.</span>Digital</a>
	    {% else %}
	    <a class="navbar-link" href="{{ site.baseurl }}/">Artifac<span class="tightkern">t.</span>Digital</a>
	    {% endif %}
	  </li>
	  <li class="navbar-item">
	  	{% if page.active == "alexleitch" %}
	    <a class="navbar-link active" href="{{ site.baseurl }}/alex-leitch">Alex Leitch</a>
	    {% else %}
	    <a class="navbar-link" href="{{ site.baseurl }}/alex-leitch">Alex Leitch</a>
	    {% endif %}
	  </li>
	</ul>
</nav>
